<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238762269352-be7i9oi4cipvlad1010fnuglhvn7pr91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238762269352-be7i9oi4cipvlad1010fnuglhvn7pr91</string>
	<key>API_KEY</key>
	<string>AIzaSyDUHi8l9A0qVzYtaBdzxrDMn9H0IyvsVl8</string>
	<key>GCM_SENDER_ID</key>
	<string>238762269352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oceanview.oceanview</string>
	<key>PROJECT_ID</key>
	<string>oceanview-dfdf7</string>
	<key>STORAGE_BUCKET</key>
	<string>oceanview-dfdf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238762269352:ios:ddeeb80c3d1aa71896c09d</string>
</dict>
</plist>